
<div class="col-md-5 col-md-offset-1">
        <div ng-controller="SampleFormController">
            <form
                    name="exampleForm"
                    sf-schema="sampleSchema"
                    sf-options="options"
                    sf-form="sampleForm"
                    sf-model="model"
                    ng-submit="submitform(exampleForm)"
                    >
            <input type="submit" value="Submit" ng-click="submitform()">
            </form>
        </div>
</div>